server:
  port: 8082

spring:
  security:
    oauth2:
      resourceserver:
        jwt: {}


jwt:
  issuer: legendme-login-svc
  secret: ${JWT_SECRET:dev256bitsecretpleasechangethisverylong3456789346745678}

logging:
  level:
    org.springframework.security: DEBUG